#container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.tableTitle {
    border: 1px solid white;
    background-color: grey;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10pt;
}

.table{
    background-color: gainsboro;
    border: 1px solid white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 10pt;
}